{% extends 'base.html' %}
{% load static %}
{% block title %} Contact us {% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'CSS/privacy&policy.css' %}">

{% endblock %}

{% block content %}

<section>

       <h1>Contact Us</h1>
<div class="section">
 

    <p>
        If you have any questions, concerns, or need assistance regarding
        the Marriage Registration System, you can contact us using the
        information provided below.
    </p>
</div>


<div class="section">
    <h2>General Support</h2>

    <p>
        For general questions or assistance with using the system, please
        contact our support team.
    </p>

    <ul>
        <li>Email: poudelasmin@example.com</li>
        <li>Phone: +977-9845597529</li>
    </ul>
</div>


<div class="section">
    <h2>Registration Assistance</h2>

    <p>
        If you need help with submitting a marriage registration application,
        correcting information, or understanding the registration process,
        please contact the registration support team.
    </p>
</div>


<div class="section">
    <h2>Technical Support</h2>

    <p>
        If you experience technical problems such as login issues, application
        errors, or problems uploading documents, please contact our technical
        support team.
    </p>
</div>


<div class="section">
    <h2>Office Hours</h2>

    <p>
        Mondat – Friday: 10:00 AM – 5:00 PM
    </p>

    <p>
        Saturday,Sunday: Closed
    </p>
</div>


<div class="section">
    <h2>Location</h2>

    <p>
        Marriage Registration Office<br>
        Banke, Nepal
    </p>
</div>


<div class="section">
    <h2>Feedback</h2>

    <p>
        We value your feedback. If you have suggestions or have experienced
        any difficulty while using the system, please let us know so that
        we can improve our services.
    </p>
</div>

</section>

{% endblock %}