{% extends 'base.html' %}

{% block title %}Request Page{% endblock %}
{% block css %}

<style>
.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    min-height:500px ;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    overflow: hidden;
}

.table-container th {
    text-align: center;
    background-color: #234593;
    color: #ffffff;
    padding: 15px 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}

.table-container td {
  text-align: center;

    padding: 14px 12px;
    border-bottom: 1px solid #e2e8f0;
    color: #334155;
    font-size: 14px;
}

.table-container tbody tr {
    transition: 0.2s ease;
}

.table-container tbody tr:hover {
    background-color: #f8fafc;
}

.table-container tbody tr:last-child td {
    border-bottom: none;
}
.table-container td:nth-child(5) {
    color: #2563eb;
    font-weight: 600;
    cursor: pointer;
}


.table-container td:nth-child(6) {
    font-weight: 600;
}
.view{
  padding: 5px 15px;
  border: none;
  border-radius:6px;
  background-color: #082460;
  color: white;
  text-decoration: none;
}
.status{
   padding: 5px 14px;
   border-radius: 8px; 
   color: whitesmoke;
}
.pending{
    background-color:rgb(221, 156, 36);
}
.approve{
    background-color:rgb(54, 88, 225);
}
.reject{
    background-color:rgb(243, 53, 69);
}
/* Responsive */
@media (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    .table-container table {
        min-width: 700px;
    }

    .table-container th,
    .table-container td {
        padding: 12px 10px;
        font-size: 13px;
    }
}
</style>
{% endblock %}

{% block content %}
<section class="table-container">
   <table border="1px">
       <thead>
        <tr>
           <th>SN</th>
           <th>Name</th>
           <th>Address</th>
           <th>Email</th>
           <th>View Details</th>
           <th>Status</th>    
        </tr>
       </thead>

       <tbody>
        {% for i in details %}
           
           <tr>
             <td>{{forloop.counter}}</td>
             <td>{{i.groom.groomName}}</td>
             <td>{{i.groom.groomAddress}}</td>
             <td>{{i.groom.groomEmail}}</td>
             <td><a href="{% url 'viewdetails' i.id %}" class="view">View</a></td>
             <td>
                {% if i.status == "Pending" %}
                   <span class="pending status" style="  background-color:rgb(221, 156, 36);">{{ i.status }}</span>
                {% elif i.status == "Approve" %}
                   <span class="approve status">{{ i.status }}</span>
                   <a href="{% url 'certificate' i.id %}">Certificate</a>
                  
                {% else %}
                   <span class="reject status">{{ i.status }}</span>
                {% endif %}
            
            </td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
</section>


{% endblock %}